<table >
    <thead>
        <tr>
            <th colspan="2">Employee Details </th>
        </tr>
    </thead>
    <tbody *ngIf="employess">
        <tr>
            <td>Code</td>
            <td>{{employess[0].code}}</td>
        </tr>
        <tr>
            <td>First Name </td>
            <td>{{employess[0].name}}</td>
        </tr>
        <tr>
            <td>dob </td>
            <td>{{employess[0].dob}}</td>
        </tr>
        <tr *ngIf='showDetails'>
            <td>Gender </td>
            <td>{{employess[0].gender}}</td>
        </tr>
        
         <tr>
            <td colspan="2" >
                <button highlightText (click)="toggleDetails()">{{showDetails ? 'Hide' : 'Show'}} Details</button>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf = "!employess">
        <tr><td>{{statusMessage}}</td></tr>
    </tbody>
</table>

<br>
<input type="button" class="btn btn-piramry" (click)="backtoEmp()" value="Back">
